*{
    margin: 0; padding: 0;
} 
 nav a {
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;
}
nav{
    padding: 5px;
}
header{
    background-color: rgb(124, 159, 147);
}
#second{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(102, 72, 131);
    margin: 5px;
    display: inline-block;

}
#container{
    border: 3px solid;
    margin: 5px;
}
#box4{
    position: fixed;
    right: 10px;
}
footer{
    position: fixed;
    bottom: 0px;
}